.env
*.pdf
*.md
!README.md
!Ejemplo Recomendaciones Aplicadas.pdf
!Ejemplo Servidor Base.pdf
!Ejemplo Servidor Bastionado.pdf
!Ejemplo Recomendaciones Aplicadas.md
!Ejemplo Servidor Base.md
!Ejemplo Servidor Bastionado.md
__pycache__/